body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.tudo{
    background-color: rgb(83, 83, 83);
    width: 380px;
    height: 550px;
    border: solid black 5px;
    border-radius: 20px;
    padding: 10px;
}

.mostrar{
    background-color: rgb(228, 228, 228);
    height: 60px;
    width: 380px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.teclado{
    background-color: rgb(155, 151, 151);
    height: 470px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.teclado > div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.number{
    padding: 10px;
    background-color: rgba(102, 102, 185, 0.726);
    font-size: 30px;
    border: solid black 2px;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

