.biscoito{
  width: 300px;
  cursor: pointer;
  transition: transform 0.1s ease;
  border-radius: 1000px;
}

.biscoito:active {
  transform: scale(0.9);
}

.tudoCookie {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  gap: 400px;
}

.clicar{
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 1px;
  height: 1px;
}

h1{
  display: flex;
  justify-content: center;
}

.cookie-voando {
  position: absolute;
  width: 50px;
  pointer-events: none;
  animation: subir 0.8s ease forwards;
  transform: translate(-50%, -50%);
}

/* animação */
@keyframes subir {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-80px) scale(0.8);
  }
}

/*conquistas*/
.caixa1 {
  margin-top: 20px;
  padding: 20px;
  background: lightgray;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.caixa2 {
  margin-top: 20px;
  padding: 20px;
  background: lightgray;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.caixa3 {
  margin-top: 20px;
  padding: 20px;
  background: lightgray;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.caixa4 {
  margin-top: 20px;
  padding: 20px;
  background: lightgray;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.caixa5 {
  margin-top: 20px;
  padding: 20px;
  background: lightgray;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.conquistas {
  display: flex;
  flex-direction: column;
  width: 400px;
}

/* quando desbloquear */
.desbloqueada {
  background: lightgreen;
  animation: pop 0.5s ease;
}

/* animação */
@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.organizarBotao {
  display: flex;
  flex-wrap: wrap; /* quebra linha se não couber */
  gap: 10px;
  align-items: center;
}