* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

/* CONTAINER PRINCIPAL */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 60px;
}

/* BOX LOGIN */
.login-box {
  width: 400px;
  padding: 40px;
  border-radius: 25px;
  background: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(10px);
  text-align: center;
}

/* TÍTULO LOGIN */
.login-box h2 {
  color: #ff2c2c;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: left;
}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 20px;
  background: #2e2e2e;
  color: white;
  font-size: 16px;
}

/* ESQUECEU SENHA */
.forgot {
  color: #ccc;
  font-size: 14px;
  text-align: left;
  margin-bottom: 25px;
}

/* BOTÃO */
.login-box button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  background: #ff2c2c;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #cc2222;
}

/* REGISTRAR */
.register {
  margin-top: 15px;
  color: #ddd;
  font-size: 14px;
  cursor: pointer;
}